<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta
    name="viewport"
    content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
  >
</head>
<body>
  <div id="root">{{{ html }}}</div>
  <script>
    window.I18N_STORE = {{{ i18nStore }}};
  </script>
</body>
</html>
